<nav class="bw-desktop-navbar">
  <div class="bw-left-navbar d-flex align-items-center">
    <div class="bytewise-logo">
      <img
        (click)="onLogoClicked()"
        class="logo-image"
        priority
        ngSrc="/bytewise.svg"
        height="55"
        width="175"
        alt="Bytewise Logo">
    </div>
  </div>

  <div class="bw-right-navbar">
    <div class="cart-container">
      <div class="cart-icon">
        <i class="material-icons">shopping_cart</i>
        <span class="cart-item-count">{{ productService.cartItemCount() }}</span>
      </div>
      <span class="btw-cart-total">
        {{ productService.productCartTotal() | currency: 'KES ': 'symbol' : '1.0-0' }}
      </span>
      @if (productService.cartItemCount() > 0) {
        <button class="clear-cart-btn" (click)="clearCart()">Clear Cart</button>
      }
    </div>
  </div>
</nav>
