<article class="product-card">
  <a [routerLink]="['/product', product.slug]" class="product-link">
    <div class="product-image">
      <img
        [ngSrc]="product.images[0]"
        [alt]="product.title"
        width="220"
        height="220"
      />
    </div>
    <div class="product-info">
      @if (product.brand) {
        <p class="product-brand">{{ product.brand }}</p>
      }
      <h3 class="product-title">{{ product.title }}</h3>
      <p class="product-price">
        {{ product.price | currency: 'KES ': 'symbol' : '1.0-0'}}
      </p>
      <p class="product-description">{{ product.description }}</p>
    </div>
  </a>
  <button type="button" class="add-to-cart-btn" (click)="onAddToCartClicked(product)">
    Add to cart
  </button>
</article>
